[mgr]
ratio = [2, 3, 3]
sort_by = "alphabetical"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "mtime"
show_hidden = true
show_symlink = true
title_format = ""

[preview]
wrap = "no"
tab_size = 4